<div>
 <h1>{{title}}</h1>   
 <ol>{{#each getProducts}}
    <li>
        <h3>{{this.title}}</h3>
        <h4>id: {{this.id}}</h4>
        <h4>Descripción:</h4><p>{{this.description}}</p>
        <h3>Precio: ${{this.price}}</h3>
    </li>
    <hr/>
    {{/each}}
 </ol>
</div>